*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: F37GingerPro;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/F37GingerPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: F37GingerPro;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/F37GingerPro-Semi.ttf) format('truetype');
}

@font-face {
  font-family: F37GingerPro;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/F37GingerPro-Bold.ttf) format('truetype');
}

@font-face {
  font-family: F37GingerPro;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/F37GingerPro-Black.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: Poppins;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/resources/fonts/OpenSans-Bold.ttf) format('truetype');
}


  
:root{
  font-family: F37GingerPro;
  font-size: 14px;
  --color-primary: #0095FF;
  --color-secondary:#14053e;
  --color-light-gray: #eee;
  --color-gray: #a7a7a7;
  --color-dark-gray: #666666;
  --color-light-primary: #3aacfd;
}


h1, h2, h3, h4, h5, h6{
    font-family: Poppins;
    line-height: 1.2em;
  }
  
  .slash{
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    &::before{
      content: "";
      width: 6px;
      height: calc(100% + 5px);
      background-color: var(--color-dark-gray);
      position: absolute;
      left: 0;
      top: -5px;
      rotate: 15deg;
    }
  }


  header{
    background-color: var(--color-secondary);
    height: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    animation: animation-slide-down .5s ease forwards;

    & .i-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
        box-sizing: border-box;
        
        & .header__logo{
          & img{
            width: 100%;
            height: auto;
          }
        }
        
        & .header__content{
            display: flex;
            align-items: center;
            gap: 30px;

            & .header__menu{
                display: flex;
                gap: 30px;

                & a{
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;

                    &::after{
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        display: block;
                        transition: width .3s ease;
                    }

                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }

        & .header__content--mobile{
          
            display: flex;
            gap: 10px;
            align-items: center;
            .toggle-menu--mobile{
                min-width: 30px;
                aspect-ratio: 1;
                text-align: center;
                font-size: 30px;
                cursor: pointer;

                & .fa-close{
                    display: none;
                }
            }

            & .menu__content--mobile{
                /* opacity: 0; */
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 10;
                background-color: #fff;
                box-sizing: border-box;
                padding: 30px 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
                transform: translateY(0);
                opacity: 0;
                /* visibility: hidden; */
                pointer-events: none;
                transition: opacity .3s ease, transform .3s ease;
                
                & .menu--mobile{
                    display: flex;
                    flex-direction: column;
                    & a{
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--color-dark-gray);
                        text-decoration: none;
                        border-bottom: 1px solid var(--color-light-gray);
                        padding: 10px 20px;
                        text-align: start;

                        &:hover{
                            background-color: var(--color-light-gray);
                        }
                    }
                }
            }

            &.active{

                & .toggle-menu--mobile{
                    .fa-close{
                        display: block;
                    }
                    .fa-ellipsis-v{
                        display: none;
                    }
                }

                & .menu__content--mobile{
                    opacity: 1;
                    transform: translateY(100%);
                    pointer-events: all;
                }
            }
        }
    }
}


.i-container{
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

button, .i-button{
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-primary);
  font-family: OpenSans;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  transition: background-color .3s ease;

  &:hover{
      background-color: var(--color-light-primary);
  }
}


.social-icons{
  display: flex;
  gap: 10px;
  & a{
      background-color: var(--color-light-gray);
      font-size: 24px;
      color: var(--color-secondary);
      text-decoration: none; 
      padding: 10px;
      border-radius: 50px;
      min-width: 30px;
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .3s ease, color .3s ease;
      
      &:hover{
          background-color: var(--color-primary);
          color:#fff;
      }
  }
}

footer{
  font-family: Poppins;
  
  & .footer__row--1{
    background-color: var(--color-secondary);
    padding: 90px 20px;
    & .i-container{
      display: flex;
      color: #fff;

      & .footer__column{
        flex: 1;
        border-right: 1px solid ;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        box-sizing: border-box;

        &:first-child, &:last-child{
          border-right: none;
        }

        & ul li{
            padding-bottom: 10px;
            &::marker{
              content: "";
            }
          }
        

        & h3{
          font-weight: 500;
          position: relative;
          &::after{
            content: "";
            width: 40px;
            height: 2px;
            background-color: #fff;
            display: block;
            margin-top: 10px;
          }
        }

        

        & a.i-button{
          text-transform: none;
          padding: 0.5em;
          border-radius: 5px;
          &:hover{
            text-decoration: none;
          }
        }
      }



      & .footer__column--1{
        text-align: center;
        & img{
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  & a{
    color: #fff;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  .footer__row--2{
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

}

 
/* Desktop   */
@media screen and (min-width: 1367px){
    .hide-desktop{
        display: none !important;
    }
}

/* Laptop */
@media screen and (max-width: 1366px) and (min-width: 1024px) {
    .hide-laptop{
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
  footer{      
    & .footer__row--1{
      & .i-container{
        flex-wrap: wrap;    
        & .footer__column--1{
          width: 100%;
          flex: auto;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .header__logo{
    max-width: 160px;
  }
}


/* Tablet */
@media screen and (max-width: 1023px) and (min-width: 768px){
    .hide-tablet{
        display: none !important;
    }

    footer{      
      & .footer__row--1{
        padding-bottom: 0;
        & .i-container{
          flex-direction: column;    
          & .footer__column{
            flex: 1;
            border-right: none;
          }

          & .footer__column--1{
            background-color: #1a1a1a;
            margin-inline: -20px;
            padding: 40px;
            order: 1;
            align-items: flex-start;
          }
        }
      }

      & .footer__row--2{
        background-color: var(--color-secondary);
      }
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .hide-mobile{
        display: none !important;
    }

    .header__logo {
      width: 150px;
      & img{
        width: 100%;
      }
    }

    header{
      & .header__content--mobile{
        & > .i-button{
          font-size: 14px;
          padding: 0.8em 1.5em;
          border-radius: 5px;
        }
      }
    }

    footer{      
      margin-top: -50px;
      & .footer__row--1{
        padding-bottom: 0;
        & .i-container{
          flex-direction: column;    
          & .footer__column{
            flex: 1;
            border-right: none;
            position: relative;
            & h3{
              padding-right: 20px;
              &::after{
                width: calc(100% + 20px);
                height: 1px;
              }
            }

            & .fa-plus{
              position: absolute;
              top: 22px;
              right: 20px;
            }

            & ul li {
              &::after{
                content: "";
                width: 100%;
                height: 1px;
                background-color: #28147e;
                display: block;
                margin-top: 10px;
              }

              &:last-child{
                &::after{
                  display: none;
                }
              }
            }
          }

          & .footer__column--1{
            background-color: #1a1a1a;
            margin-inline: -20px;
            padding: 40px;
            order: 1;
            align-items: center;
            width: calc(100% + 40px);

            & .i-button{
              width: 100%;
            }
          }

          & .footer__column--3{
            background-color: #1a1a1a;
            margin-inline: -20px;
            padding: 40px;
            & ul li {
              &::after{
                background-color: var(--color-dark-gray);
              }
            }

            & .fa-plus{
              top: 42px;
              right: 40px;
            }

          }
        }
      }

      & .footer__row--2{
        background-color: var(--color-secondary);
      }
    }
}

footer svg{
  transition: transform .4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

footer a:hover svg{
  transform: translateY(-10px) rotate(45deg);
}





/* Animations */

@keyframes animation-slide-down {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}


@keyframes animation-position-x {
  from{
    transform: translateX(-20%);
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.scroll-opacity{
  /* animation: animation-opacity 0.5s ease alternate; */
  animation-name: animation-opacity;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-timeline: view();
  animation-range-start: 15%;
  animation-range-end: 50%;
}


/* ----------------------------------------------
 * Generated by Animista on 2025-2-25 14:19:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */	
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
  }
  50% {
    -webkit-transform: scale(0.9) rotate(-5deg);
            transform: scale(0.9) rotate(-5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
  }
  50% {
    -webkit-transform: scale(0.9) rotate(-5deg);
            transform: scale(0.9) rotate(-5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(-5deg);
            transform: scale(1) rotate(-5deg);
  }
}
